body, div, input, select, button {
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f8f9fa;
    color: #343a40;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.content {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
    color: #6E24B2;
}

label {
    font-size: 1.2rem;
    font-weight: 600;
    display: block;
    margin-bottom: 1rem;
    text-transform: capitalize;
}

select, input[type="text"], input[type="number"], textarea {
    padding: 1rem;
    border: 2px solid #ced4da;
    border-radius: 5px;
    outline: none;
    font-size: 1.2rem;
    width: 100%;
}

select:focus, input[type="text"]:focus, input[type="number"]:focus {
    border-color: #6E24B2;
}

#output-svg {
    min-height: 250px;
    resize: none;
    font-size: 1rem;
    padding: 10px;
}

textarea:focus {
    border-color: #6E24B2;
}

.buttons-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin-top: 1.5rem;
}

.btn {
    padding: 10px;
    background-color: #6E24B2;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    text-transform: capitalize;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #4b1a7f;
}

.sidebar {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    .sidebar {
        width: 100%;
        margin-top: 20px;
    }

    main {
        flex-direction: column;
        align-items: center;
    }

    .content {
        margin-top: 20px;
    }
}

/* Mobile styles for textarea */
@media screen and (max-width: 420px) {
    textarea {
        min-height: 180px;
    }
}
